<h2>Каталог товаров</h2>

{% for product in products %}
    <div class="products">
        <img src="/img/{{ product.img }}" alt=" {{ product.img }} " width="150px" height="150px">
        <a href="/product/product/?id={{ product.id }}">{{ product.name }}</a>
        <p>price: {{ product.price }}</p>
        <button>Buy</button>
    </div>
{% endfor %}

<a href="/product/catalog/?page={{ page | raw }}">ЕЩЕ</a>
